:root
{
    --back-home-color:#65d3cf;
    --nav-height: 2rem;
    --body-padding: clamp(2dvw, 3dvw, 5dvw);
    --all-white: white;
    --yellow: #FFF2b6;
    --tiny: 0.921rem;
}
nav
{
    margin-top: calc( var(--body-padding) - 2rem);
    padding-inline: var(--nav-height);
    padding-block: 2rem;
    display: flex;
    background: var(--all-white);
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
}
nav h1, footer h1
{
    font-size: clamp(1rem, 2rem ,2.555rem);
    font-weight: 950;
}
nav h1{
    text-shadow: 1px 1.89px lightgrey, 
        2px 4px lightgrey,
        3px 6px lightgrey,
        4px 6.78px lightgrey,
        5px 7px lightgrey,
        6px 8px lightgrey;
}
nav button
{
    background: black;
    color: white;
    font-weight: 700;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    padding: 0.5em;
    border-radius: 16px;
    padding-inline: 1em;
}
nav ul
{
    display: flex;
    font-size: 1.139rem;
    min-width: 30%;
    color: rgba(0, 0, 0, 0.678);
   
    justify-content: space-between;
}
nav ul li{
    display: flex;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
}
.dropme{
    position: relative;
}
.dropme .dpo{
    position: absolute;
    top: 150%;
    background: var(--yellow);
    width: 200px;
    padding: 1em;
    border-radius: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    display: none;
    transition: 1.6s;
}
.dropme:hover .dpo, .dpo:hover{
    display: flex;
}
li sup{
    background: greenyellow;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 600;
}
.shows
{
    gap: 5px;
    display: none;
    cursor: pointer;
}
.shows .bar 
{
    height: 3px;
    width: 30px;
    background: black;
}
.pack-the-nav{
    position: relative; 
}
#dropped{
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--yellow);
    box-shadow: 5px 5px 10px;
    height: 200px;
    width: 100%;
    padding: 1em;
    text-align: center;
    line-height: 1.72;
    font-size: 1.34rem;
    z-index: 3;
    display: none;
    font-weight: 950;
    color: var(--back-home-color);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
@media (max-width: 1272px) {
    nav ul:not(.d-op), nav button
    {
        display: none;
    }
    .pack-the-nav{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 7;
        height: 4.9rem;
    }
    nav
    {
        border-radius: 0;
        width: 100dvw;
        justify-content: flex-start;
        background: #FFF2b6;
        margin-top: 0;
    }
    .shows
    {
        display: grid;  
        margin-left: auto;
    }

}
#dropped.a 
{
    display: block;
    animation: roller 0.6s ease-out;
}
#dropped .d-op{
    flex-direction: column;
    align-items: space-around;
    height: 100%;
    letter-spacing: 2px;
}
.shows.a{
    gap: 0;
}
.bar.q1.a{
    transform: rotate(55deg);
}
.bar.q2.a{
    transform: rotate(-35deg);
}
.bar.q3.a{
    display: none;
}

@keyframes roller {
    0%{
        top: 0;
    }
    50%{
        top: 50%;
    }
    100%{
        top: 100%;
    }
}
nav .one{
    animation: oki 1s linear;
    animation-delay: 2s;
    animation-iteration-count: 3;
}
@keyframes oki {
    0%{
        transform: rotateZ(15deg);
    }
    25%{
        transform: rotateZ(-15deg);
    }
    50%{
        transform: rotateZ(15deg);
    }
    75%{
        transform: rotateZ(-15deg);
    }
    100%{
         transform: rotateZ(15deg);
    }
}

nav.a{
    position: fixed;
    top: 0;
    width: calc(100% - var(--body-padding));
    z-index: 5;
}
 